fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
python-dotenv==1.0.1

pypdf==5.1.0

numpy==2.2.1
sentence-transformers==3.3.1

openai==1.59.7

faster-whisper==1.1.1
av==14.1.0

piper-tts==1.7.0
